/*body{*/
/*  background-color:black ;*/
/*}*/
body{
  padding: 5px 10px;
width: 100%;
}
h2,h1{
  text-align: center;
}
img{
  /*margin-right: 200px;*/
  /*margin-left: 200px;*/
  /*margin: 200px;*/
/*padding-left: 200px;*/
/*padding-bottom: 200px;*/
  margin: 0 auto;
  padding-left: 120px ;

}
p{
  text-align: center;
margin-left: 120px ;
  margin-right: 140px ;
}
